.mainSec {
    flex-wrap: wrap;
  }
  
  .sliderCard {
      background-color: #FFF1D6;
      border-radius: 20px;
      width: 413px;
      height: 456px;
      margin-right: 10px;
      position: relative;
  }
  
  .sliderBox {
      background-color: white;
      width: 393px;
      height: 173px;
      border-radius: 18px;
      margin-left: 10px;
      
  }
  .sliderImg {
     margin-top: 24px; 
     position: relative;
     justify-content: center;
     margin-left: 100px;
  }
  .sliderBox h4 {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      color: #2E2A39;
      margin-bottom: 8px;
      padding-left: 20px;
  }
  .sliderBox .prof {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #2E2A39B7;
      padding-bottom: 24px;
      padding-left: 20px;
  }
  .slCourses {
      display: flex;
      padding-left: 20px;
  }
  .slCourses p {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #2E2A39;
      border: 1px solid #E6E6E6;
      border-radius: 46px;
      padding: 16px 20px 16px 16px;
  }
  .clck, .many, .slCourses p:first-child{
      margin-right: 8px;
  }
  .mainSec {
      display: flex;
      justify-content: center;
  }
  
  /* Slider */
  
  .slider {
      max-width: 900px;
      margin: 0 auto;
      height: 500px;
      justify-content: center;
      /* overflow: hidden; */
    }
    .slides {
      display: flex;
      width: 250%;
      height: 500px;
    }
   .slides input {
     display: none;
   }
   .slide {
     width: 20%;
     transition: 2s;
   }
   
   /* manual navigation */
   
   .navigation-manual {
   margin-top: -40px;
   justify-content: center;
   display: flex;
   }
   .manual-btn {
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 1s;
     background-color: #DADBDD;
     width: 6px;
     height: 6px;
   }
   
   .manual-btn:not(:last-child) {
     margin-right: 8px;
   }
   
   .manual-btn:hover {
     background-color: #ff707a;
     width: 8px;
     height: 8px;
   }
   
   #radio1:checked ~ .first {
     margin-left: 0;
   }
   #radio2:checked ~ .first {
     margin-left: -10%;
   }
   #radio3:checked ~ .first {
     margin-left: -20%;
   }
   
   /* auto navigation */
   
   #radio1:checked ~ .navigation-auto .auto-btn1 {
     background: #ff707a;
   }
   #radio2:checked ~ .navigation-auto .auto-btn2 {
     background: #ff707a;
   }
   #radio3:checked ~ .navigation-auto .auto-btn3 {
     background: #ff707a;
   }